body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    background-color: #8427c2;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
#header {
    background-color: rgb(137, 0, 150);
    color: #fff;
    padding: 10px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#header h1 {
    margin: 0;
}

/* Menu */
#menu {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#menu li {
    display: inline;
    margin-right: 10px;
}

#menu li a {
    color: #fff;
    text-decoration: none;
}

#menu li a:hover {
    color: #ccc;
}

#profile-image {
    max-width: 180px;
    border-radius: 30%;
    display: block;
    margin: 20px auto;
    float: left;
}

#main-content {
    padding: 50px;
    background-color: rgb(145, 0, 212);
    border: 1px solid black;
    border-radius: 10px;
    float: right;
    max-width: 70%; /* Ajuste conforme necessário */
}

.content-box {
    background-color: rgb(164, 74, 216);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #5e007a;
    color: rgb(255, 255, 255);
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-content .social-media a img {
    width: 40px;
    margin: 0 10px;
}
