body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    background-color: #8427c2;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
#header {
    background-color: rgb(137, 0, 150);
    color: #fff;
    padding: 10px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#header h1 {
    margin: 0;
}

/* Menu */
#menu {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

#menu li {
    display: inline;
    margin-right: 10px;
}

#menu li a {
    color: #fff;
    text-decoration: none;
}

#menu li a:hover {
    color: #ccc;
}

.slideshow-container {
    position: relative;
    max-width: 500px;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
    width: 100%;
}

.slide img {
    width: 100%;
}

.caption {
    color: #fff;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot-container {
    text-align: center;
    padding: 20px;
    background: #333;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.thumbnail-container {
    text-align: center;
    margin-top: 20px;
}

.thumbnail {
    cursor: pointer;
    height: 80px;
    width: auto;
    margin: 0 5px;
    transition: transform 0.3s;
}

.thumbnail:hover {
    transform: scale(1.1);
}
